# Python virtual environment
venv/
csevenv/
ENV/
.env

# Python
__pycache__/
*.py[cod]
*.so
.Python
*.pyc

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media
staticfiles

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db